
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 KenzieGram
        form(action="/uploads" method="post" enctype="multipart/form-data")
            input(type="file" name="fileupload" value="fileupload" id='fileupload')
            label(for="fileupload") Select a file to upload
            button(type="upload" class="btn") Submit
        div
            each pic in pictureNames
                img(src=`./uploads/${pic}` class="responsive-img")